//сброс стилей

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

$main-blue-color: rgb(29, 36, 52); //общий фон, фон при hover
$dark-blue-color: rgb(22, 29, 41); // фон хэдера и футера
$light-blue-color: rgb(229, 231, 235); //обводка бордеров
$yellow-color: rgb(255, 201, 79); //подчеркивание hover

$white-color: rgb(255, 255, 255); //основной текст, цвет текста при hover
$accent-blue-color: rgb(0, 210, 233); //акцентный синий текст
$grey-color: rgb(160, 170, 190); //второстепенный текст