//общий стиль для всех страниц, контейнеры

body {
  font-family: "Fira Code", monospace;
}

//делает все блоки сайта флексом и выравнивает
.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

//класс общего контейнера, блоки оборачивать в него
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
}

.main {
  background-color: $main-blue-color;
  color: $white-color;
  padding-top: 40px;
  padding-bottom: 40px;
}

.greeting__header {
  color: $accent-blue-color;
}

.greeting__paragraph {
  margin-top: 30px;
  margin-right: 100px;
  width: 600px;
}

.startbutton {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid $light-blue-color;
  background-color: $dark-blue-color;
  color: $accent-blue-color;
  &:hover {
    border-bottom: 2px solid $yellow-color;
  }
}

.interview {
  padding-top: 40px;
  padding-bottom: 40px;
}

.interview-item {
  details {
    margin-top: 15px;
  }
}

.redirect {
  height: 100vh;
  background-color: $light-blue-color;

  &__questions,
  &__tasks {
    margin-top: 20px;
    margin-left: 100px;
    padding: 20px;
    border: 1px solid $light-blue-color;
    background-color: $dark-blue-color;
    color: $accent-blue-color;
    &:hover {
      border-bottom: 2px solid $yellow-color;
    }
  }
}
