//общий стиль для всех страниц, контейнеры

body {
  font-family: "Fira Code", monospace;
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 12px;
}

.main {
  background-color: $main-blue-color;
  color: $white-color;
  padding-top: 40px;
  padding-bottom: 40px;
}

.greeting__header {
  color: $accent-blue-color;
}

.greeting__paragraph {
  margin-top: 30px;
  margin-right: 100px;
  width: 600px;
}

.startbutton {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid $light-blue-color;
  background-color: $dark-blue-color;
  color: $accent-blue-color;
  &:hover {
    border-bottom: 2px solid $yellow-color;
    color: $white-color;
  }
}

.interview {
  padding-top: 40px;
  padding-bottom: 40px;

  &__item {
    details {
      margin-top: 15px;
    }
  }
}

.redirect {
  height: 100vh;
  background-color: $light-blue-color;

  &__questions,
  &__tasks {
    margin-top: 50px;
    padding: 20px 40px;
    border: 1px solid $light-blue-color;
    background-color: $dark-blue-color;
    color: $accent-blue-color;
    &:hover {
      border-bottom: 2px solid $yellow-color;
      color: $white-color;
    }
  }
}

.questions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tasks-list {
  padding-top: 20px;
  padding-bottom: 20px;
}

.question,
.task {
  margin-top: 20px;
}
