@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap");
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Fira Code", monospace;
  background-color: rgb(29, 36, 52);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.header__container {
  padding: 0 20px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.main {
  flex: 1 0 auto;
  background-color: rgb(29, 36, 52);
  color: rgb(255, 255, 255);
  padding-top: 40px;
  padding-bottom: 40px;
}

.greeting__header {
  color: rgb(0, 210, 233);
}

.greeting__paragraph {
  margin-top: 30px;
  margin-right: 100px;
  width: 600px;
}

.startbutton {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid rgb(229, 231, 235);
  background-color: rgb(22, 29, 41);
  color: rgb(0, 210, 233);
}
.startbutton:hover {
  border-bottom-color: rgb(255, 201, 79);
  color: rgb(255, 255, 255);
}

.interview {
  padding-top: 40px;
  padding-bottom: 40px;
}
.interview__item details {
  margin-top: 15px;
}

.redirect__questions, .redirect__tasks {
  margin-top: 50px;
  padding: 20px 40px;
  border: 1px solid rgb(229, 231, 235);
  background-color: rgb(22, 29, 41);
  color: rgb(0, 210, 233);
}
.redirect__questions:hover, .redirect__tasks:hover {
  border-bottom-color: rgb(255, 201, 79);
  color: rgb(255, 255, 255);
}

.questions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tasks-list {
  padding-top: 20px;
  padding-bottom: 20px;
}

.question,
.task {
  margin-top: 20px;
}

.collab {
  padding: 20px;
}
.collab a {
  margin-right: 20px;
}

.header {
  width: 100%;
  flex: 0 0 auto;
  background-color: rgb(22, 29, 41);
  border-bottom: 1px solid rgb(45, 59, 86);
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: rgb(160, 170, 190);
}

.header_link {
  margin-left: 40px;
  margin-right: 40px;
  color: rgb(160, 170, 190);
  font-family: "Fira Code";
  font-weight: 700;
  text-decoration: none;
}

.header_link:hover {
  color: rgb(229, 231, 235);
  border-bottom: 2px solid rgb(255, 201, 79);
}

.footer {
  flex: 0 0 auto;
  background-color: #161d29;
  color: #fff;
}
.footer__container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 2rem 3rem 3rem 3rem;
}
@media (max-width: 720px) {
  .footer__container {
    width: 600px;
    flex-direction: column;
    padding: 10px 0;
  }
}
.footer__container__logo {
  align-self: center;
}
.footer__container__img {
  width: 6rem;
}
.footer__container__nav {
  width: 80%;
  height: 10%;
}
@media (max-width: 769px) {
  .footer__container__nav {
    flex-direction: column;
    padding: 0;
  }
}
.footer__container__nav ul {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 70%;
}
.footer__container__item {
  list-style: none;
}
.footer__container__link {
  display: block;
  color: #fff;
  font-family: "Tilda Sans";
  text-align: center;
  width: 3rem;
  margin-left: 90px;
}
@media (max-width: 769px) {
  .footer__container__link {
    display: block;
    padding: 10px 0;
  }
}
.footer__container .footer__icon {
  display: inline-block;
}
.footer__container__icon {
  flex-direction: column;
}
@media (max-width: 769px) {
  .footer__container__icon {
    flex-direction: column;
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */